/* 
Add css for each page under spearate section.
License: MIT
Copyright: Frappe

*/

@import "reset.css";

/* Home Generic */

.wrapper {
    text-align: center;
}

.feature {
    padding: 12rem 0;
    border-bottom: 1px solid #eff2f5;
}

.fade-in{
    -webkit-animation: fadein 1s ease-in; /* Safari, Chrome and Opera > 12.1 */
    animation: fadein 1s ease-in;
}

.fade-chart{
    -webkit-animation: fadein .75s ease-in, fadeout .75s 2.25s ease-in; /* Safari, Chrome and Opera > 12.1 */
    animation: fadein .75s ease-in, fadeout .75s 2.25s ease-in;
}

/* Key frames for fade in */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.project-logo {
    min-width: 150px;
    margin-bottom: 1.5em;
}

.project-title {
    font-size: 2.5em;
    margin-bottom: .5em;
    line-height: 1.25;
}
.intro-copy {
    font-size: 1.15em;
    color: #6c7680;
    line-height: 1.5;
    max-width: 425px;
    margin: 0 auto 1.25em auto;
}

/* github stars button*/

.ghstars {
    height:28px;
    margin-top: 1.5rem;
}

.links {
    text-decoration: none;
    color: #5E64FF;
}

.box{
    border: 1px solid #eff2f5;
    border-radius: .25rem;
    background-color: #fff;
    box-shadow: 0px 2px 7px #00000015;
}

.footer {
    padding: 5% 0;
    background-color: #fcfcff;
    color: #9da6af;
     */
}

/*buttons*/

.active {
    background-color: #fff;
    color: #000;
    }

.button-primary {
        font-size: 1.5em;
        color: #fff;
        background: #7575ff;
        border: 0px;
        line-height: 1.25em;
}
    
.button {
    padding: .5em 1.25em;
    border-radius:.25em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-bottom: 3px solid #00000030;
}
.button-primary:hover {
  background: #5b5be5;
}

.button-secondary {
    padding: 0.5em 1.25em;
    border-right: 1px solid #e2e2ec;
    border-left: 1px solid #e2e2ec;
    border-top: 1px solid #e2e2ec;
    background-color: #fafafe;
    color: #6c7680;
}

.button-secondary:hover{
   background: rgb(255, 255, 255);
   color: #36414c;
}

/*caption and source attribution*/

.source {
    font-size: .75em;
    text-align: left;
    color: #9da6af;
    margin: 0.75rem 0 0 0;
    opacity: .75;
}

.caption {
    font-size: .75em;
    color: #9da6af;
}

/* section colors, name new colors as product-bg-color*/

.generic-bg-grey {
    background-color: #fafbfc;
}

.left-align {
    text-align: left;
}


.chart-bg-green {
    background-color: hsl(100, 59%, 94%);
    background-size: 2.5em 2.5em;
    /*checkered pattern*/
    background-image: linear-gradient(to right, #e0f6d5 1px, transparent 1px), linear-gradient(to bottom, #e0f6d5 1px, transparent 1px);
    background-attachment: fixed;
}

.chart-bg-blue {
    background-color: hsla(194, 100%, 97%, 1);
    background-size: 2.5em 2.5em;
    /*checkered pattern*/
    background-image: linear-gradient(to right, #e2f7fd 1px, transparent 1px), linear-gradient(to bottom, #e2f7fd 1px, transparent 1px);
    background-attachment: fixed;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 1.5rem;
}

.subtitle {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 1em;
}



.side-spacing{
    margin: 0 .5rem;
}

.two-columned {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.left-column {
    width: 100%;
}

.right-column {
    width: 100%;
    padding: 1em;
}

/* charts specific*/

.chart-names {
    text-transform: capitalize;
}

.chart-cycle {
    display: flex;
    height: 400px;
    padding: 1em;
}

.chart-type {
    align-self: center;
    width: 100%;
}

.chart-update-buttons, .chart-plot-buttons {
    margin-top: 2.5rem;
}

.moon-name {
    font-weight: bold;
}


.moon-image {
    max-width: 200px;
}

/* code */

.terminal pre {
    background-color: #fff;
    border: 1px solid #eff2f5 !important;
    border-radius: .25em;
    text-align: left;
    padding: 1.5em !important;
    overflow: auto;
}

.terminal2 pre {
    max-width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #eff2f5 !important;
    border-radius: .25em;
    padding: 1.5em !important;
    overflow: auto;
}

.terminal {
    margin-bottom: 2.5rem;
}

.code {
    opacity: .65;
    font-size: .85em;
}


/*media queries*/
@media screen and (min-width: 750px){
    
.project-title {
    font-size: 3em;
    margin-bottom: 1rem;
}

.intro-copy {
    font-size: 1.25em;
    margin: 0 auto 1.5rem auto;
}
.subtitle {
    font-size: 2.5em;
    margin-bottom: 2.5rem;
    line-height: 1.25;
}
.two-columned{
    justify-content:space-between;
    flex-wrap: nowrap;
        
}
.terminal2 pre{
    max-width:40%;
}
    
.left-column {
    width: 65%;
}

.right-column {
    width: 35%;
}
}

