@import "reset.css";

.wrapper {
    text-align: center;
}

.box{
    border: 1px solid #e2e2ec;
    border-radius: .25rem;
    background-color: #fff;
    box-shadow: 0px 2px 7px #00000015;
}


.terminal pre {
    background-color: #fff;
    border: 1px solid #00000025 !important;
    border-radius: .25em;
    text-align: left;
    padding: 1.5em !important;
    overflow: auto;
}

.left-align {
    text-align: left;
}

.tiny-text {
    font-size: .75em;
    text-align: left;
    color: #6c7680;
    margin: 0.75rem 0 0 0;
    opacity: .75;
}

.terminal2 pre {
    max-width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #00000025 !important;
    border-radius: .25em;
    padding: 1.5em !important;
    overflow: auto;
}


.intro-copy {
    font-size: 1.15em;
    color: #6c7680;
    line-height: 1.5;
    max-width: 425px;
    margin: 0 auto 1.25em auto;
}

.project-title {
    font-size: 2.5em;
    margin-bottom: .5em;
    line-height: 1.25;
}

.project-logo {
    min-width: 150px;
    margin-bottom: 1.5em;
}

.feature {
    padding: 12rem 0;
    border-bottom: 1px solid #dadada;
}

.button-primary{
    font-size: 1.5em;
    color: #fff;
    background: #7575ff;
    border: 0px;
    line-height: 1.25em;
}

.button-primary:hover{
  background: #5b5be5;
}


.button{
    padding: .5em 1.25em;
    border-radius:.25em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-bottom: 3px solid rgba(0, 0, 0, 0.11);
}

.spacing {

}

.side-spacing{
    margin: 0 .5rem;
}

.ghstars {
    height:28px;
    margin-top: 1.5rem;
}


.fade-in{
    -webkit-animation: fadein 1s ease-in alternate; /* Safari, Chrome and Opera > 12.1 */
    animation: fadein 1s ease-in alternate;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.subtitle {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

.button-secondary {
    padding: 0.5em 1.25em;
    border-right: 1px solid #e2e2ec;
    border-left: 1px solid #e2e2ec;
    border-top: 1px solid #e2e2ec;
    background-color: #fafafe;
    color: #6c7680;
}

.button-secondary:hover{
   background: rgb(255, 255, 255);
   color: #36414c;
}

.feature-color1 {
    background-color: #fafbfc;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 1.5rem;
}

.feature-color2 {
    background-color: hsla(194, 100%, 97%, 1);
    background-size: 2.5em 2.5em;
    background-image: linear-gradient(to right, #e2f7fd 1px, transparent 1px), linear-gradient(to bottom, #e2f7fd 1px, transparent 1px);
    background-attachment: fixed;
}

.columned {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.left-column {
    width: 100%;
}

.right-column {
    width: 100%;
    padding: 1em;
}

.moon-name {
    font-weight: bold;
}


.moon-image {
    max-width: 200px;
}

.feature-color3 {
    background-color: #fbfbfb;
}

.footer {
    padding: 5% 0;
    background-color: #fcfcff;
    color: gray;
}


.links {
    text-decoration: none;
    color: #5E64FF;
}

.feature-color4 {
    background-color: hsl(100, 59%, 94%);
    background-size: 2.5em 2.5em;
    background-image: linear-gradient(to right, #d4f3c5 1px, transparent 1px), linear-gradient(to bottom, #d4f3c5 1px, transparent 1px);
    background-attachment: fixed;
}


.caption {
    font-size: .75em;
    color: gray;
}

.description {
    display: none;
    margin: 0 auto;
    background-color: #c3f1ff;
    background-size: 75px 75px;
    background-image: linear-gradient(to right, #ffffff54 1px, transparent 1px), linear-gradient(to bottom, #ffffff38 1px, transparent 1px);
}


.active {
    background-color: #fff;
    color: #000;
    }


.links-light {
    text-decoration: none;
    color: #ffffff;
}


.chart-types {
    text-transform: capitalize;
}

.chart-cycle {
    display: flex;
    height: 400px;
    padding: 1em;
}

.chart-type {
    align-self: center;
    width: 100%;
}


.chart-update-buttons, .chart-plot-buttons {
    margin-top: 2.5rem;
}

.terminal {
    margin-bottom: 2.5rem;
}

/*media queries*/
@media screen and (min-width: 750px){
    
.subtitle {
    font-size: 2.5em;
    margin-bottom: 2.5rem;
    line-height: 1.25;
}

.project-title {
    font-size: 3em;
    margin-bottom: 1rem;
}

.intro-copy {
    font-size: 1.25em;
    margin: 0 auto 1.5rem auto;
}
    .columned{
        justify-content:space-between;
        flex-wrap: nowrap;
        
    }
    .terminal2 pre{
        max-width:40%;
    }
    

    .left-column {
    width: 65%;
    }

    .right-column {
    width: 35%;
    }

    
}







.code {
    opacity: .65;
}