@import "reset.css";


html{
    box-sizing: border-box;
}
.chart-container > * {
    color:#fff !important;
}
.chart-container .axis line, .chart-container .chart-label line{
    stroke: #ffffff61 !important;
}
.chart-container .axis, .chart-container .chart-label{
    fill: #ffffffbd !important;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial,Noto,Oxygen-Sans,"Noto Sans",Ubuntu,Cantarell, sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #36414c;
    font-weight:normal;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    line-height:2;
    font-size:16px;
}

.wrapper {
    text-align: center;
    /* background: linear-gradient(180deg, white 14%, #58acc5 22%, #6780fe 35%, #3348ab 45%, #1c2865 60%, #03071b 90%); */
}

.border{
    border: 1px solid #fff5;
    border-radius:.25em;
}

.intro-copy {font-size: 1.5em;margin: 0 auto;max-width: 600px;}

.project-title {
    font-size: 3em;
    margin: 0;
}

.project-logo {
    min-width: 150px;
}

.feature {
    padding: 8% 0;
}

.button-primary{
    font-size:1.25em;
    color: #fff;
    background: #7575ff;
    border: 0px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.button-primary:hover{
  background: #5b5be5;
}


.button{
    padding: .65em 2.5em;
    border-radius:.25em;
    cursor: pointer;
}

.spacing {
    margin: 1.5em;
}

.ghstars {
    margin-top: 1em;
}




.subtitle {
    font-size: 2em;
    max-width: 625px;
    margin: 0 auto 2em auto;
}

.button-secondary {
    padding: .75em 1.25em;
    background: rgba(255, 255, 255, 0.20);
    border: 0px;
    color: #fff;
}

.button-secondary:hover{
   background: rgba(255, 255, 255, 0.70);
   color: #36414c;
}

.feature-color1 {
    background-color: #5870ec;
    color: #fff;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 1em;
}

.feature-color2 {
    background-color: #4657b9;
    color: #fff;
}

.columned {
    display: flex;
    justify-content: space-between;
}

.left-column {
    width: 75%;
}

.right-column {
    width: 50%;
}

.moon-name {
    font-weight: bold;
    margin: 0;
}

.data p {
    margin: 0;
}

.moon-image {
    max-width: 200px;
}

.feature-color3 {
    background-color: #1c2b7d;
    color: #fff !important;
}

.footer {
    padding: 5% 0;
}

.footer-color {

    color: gray;
}

.links {
    text-decoration: none;
    color: #5E64FF;
}

.install {
    color: #fff;
    background-color: #141d50;
    background-size: 2.75em 2.75em;
    background-image: linear-gradient(to right, #1d2b7d 1px, transparent 1px), linear-gradient(to bottom, #1d2b7d 1px, transparent 1px);
}

.terminal {
    padding: 2em;
    background-color: #000;
    border-radius: .25em;
    width: 30%;
    margin: 0 auto;
    color: lightgray;
    margin-bottom: 2em;
    }

.chart-plot-buttons, .chart-update-buttons {}

.divider-img {
    width: 100%;
    /* display: none; */
}


.caption {
    font-size: .75em;
    color: lightgray;
}

.description {
    margin: 0 auto;
    background-color: #c3f1ff;
    background-size: 75px 75px;
    background-image: linear-gradient(to right, #ffffff54 1px, transparent 1px), linear-gradient(to bottom, #ffffff38 1px, transparent 1px);
}



.active {
    background-color: rgba(255, 255, 255, 0.50);
    color: #000; 
    }
